main{
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}

.logForm{
    border-radius: 20px;
    backdrop-filter: opacity(80%);
    width: 25%;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #EF8888;
}

.logForm h2{
    margin-left: 10px;
}

.logForm p{
    font-size: 20px;
    margin: 10px;
}

.textInput input{
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    background: #EFB19C;
    border: rgb(128, 128, 128);
    height: 30px;
    width: 340px;
}

.shineButton {
    text-align: center;
    background: white;
    padding: 10px 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    border: 2px solid #F02C6E;
    border-radius: 8px;
    font-size: 25px;
    color: #F02C6E;
    transition: .2s ease-in-out;
}

.shineButton:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 100%;
    width: 100%;
    position: absolute;
    top: -1%;
    left: -100%;
    transform: skewX(-45deg);
}

.shineButton:hover {
    background: #F07B91;
    color: #fff;
}

.shineButton:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}


.buttonSmaller {
    width: 200px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #F07B91;
    color: #fff;
    border: 2px solid #F02C6E;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.buttonSmaller:hover {
    transform: scale(1.1);
}