<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>
<footer class="end" th:fragment="footer">
    <script src = "/static/js/number-of-items.js"></script>
    <div class = "contacts">
        <h2>Связаться с нами</h2>
        <p>Понедельник - Пятница</p>
        <p>09 : 00 - 18 : 00</p>
        <p style="color: white;">Наш номер телефона:</p>
        <a href="tel:89999999999">+7 (999) 999-99-99</a>
        <p style="color: white;">Наша почта:</p>
        <a href="mailto:example@gmail.com">example@gmail.com</a>
        <p>Менеджер: </p>
        <p>Туганов Н.А. ИКБО-20-22</p>
    </div>
</footer>

</body>
</html>